---
---

$header-bg-color: #4082aa;
$header-bg-color-secondary: #4082aa;
$header-heading-color: #d1e6f2;
$section-headings-color: #3e6c88;
$body-text-color: #666;
$body-link-color: #dba414;

@import "{{ site.theme }}";